{{page-title 'RefreshByModel'}}
<div>Display user detail - it refreshes the route model</div>
<div class='flex'>

  <div class='w-52'>
    <DisplayResults
      @resource={{this.model.getAllUsersTask}}
      @selectResult={{this.selectUserByName}}
    />
    {{#if this.model.getAllUsersTask.value.results}}
      {{#let (div this.model.getAllUsersTask.value.total 25) as |totalPages|}}

        <Pagination
          @numberOfPages={{totalPages}}
          @selectedPage={{this.currentPage}}
        />
      {{/let}}
    {{/if}}
  </div>
  <div class='w-52'>
    <UserDetail @resource={{this.model.getUserTask}} />
  </div>
</div>